html{
  font-family: sans-serif;
  background-color: #F0F8FF;
}
*{
	box-sizing: border-box;
}

body{
	min-height:100vh;
}

#Perso{
	float: right;
	background-color: #808080;
	color: #4B0082;
	height: 40px;
	line-height:40px;
	border: 2px solid #228B22;
	padding: 2px;
	font-weight: bold;
}

#Perso a{
	display: block;
	text-decoration: none;
}

nav{
	margin-left: -5%;
	margin-right: -5%;
	margin-top: 35px;
	font-weight: bold;
}

nav ul{
	display: block;
	padding: 0px;
	margin: 0px;
	list-style-type:none;
	background-color: #DCDCDC;
}

nav li{
	display:inline-block;
	margin: 0px;
	padding: 0px;
	width: 33%;
	height: 60px;
	border-right: 1px solid #228B22;
	text-align: center;
	line-height: 60px;
}

.Accueil:hover{
	opacity: 50%;
}

nav li a{
	display: block;
	text-decoration: none;
	color: #228B22;
}


.recherche{
	padding: 0px;
	margin:0px;
	width:30%;
	list-style-type:none;
	text-decoration: none;
}

.box1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom:50px; 
  padding: 20px;
  width: 15em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #59319F, #59319F 50%, #8764C5);
}

.box2 {
  margin-left: auto;
  margin-right: auto;
   margin-bottom:20px;
  padding: 20px;
  width: 15em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #59319F, #59319F 50%, #8764C5);
}

a.boutonSeConnecter {
display: block;
margin : auto;
margin-bottom: 30px;
padding: 15px 40px;
background: #59319F;
color: #BAA8D9;
font-weight: bold;
font-size: 18px;
}
a.boutonSeConnecter:hover {
background: #8764C5;
color: #59319F;
}

a.boutonInscription {
display: block;
margin : auto;
margin-bottom: 30px;
padding: 15px 40px;
background: #59319F;
color: #BAA8D9;
font-weight: bold;
font-size: 18px;
}
a.boutonInscription:hover {
background: #8764C5;
color: #59319F;
}


a.boutonConnexionLivreur {
display: block;
margin : auto;
margin-bottom: 30px;
padding: 15px 40px;
background: #59319F;
color: #BAA8D9;
font-weight: bold;
font-size: 18px;
}
a.boutonConnexionLivreur:hover {
background: #8764C5;
color: #59319F;
}

input
{
    margin-left: 50%;
    margin-bottom: 20px;
    transform: translateX(-50%); /* Pour éviter que le champs soit trop décalé */
}



.Menu{
	display:inline-block;
	margin: 0px;
	padding: 0px;
	width: 19.5%;
	height: 60px;
	border-right: 1px solid #228B22;
	text-align: center;
	line-height: 60px;
}





label {
    display: block;
    font: .9rem 'Fira Sans', sans-serif;
}

input[type='submit'],
label {
    margin-top: 1rem;
}


p { text-align: center; }



h3{text-align: center;}

h2{text-align: center;}


.select-style {
    padding: auto;
    margin: auto;
    border: 1px solid #ccc;
    width: 320px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
    position: relative;
}

.select-style2 {
    padding: auto;
    margin: auto;
    border: 1px solid #ccc;
    width: 160px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
    position: relative;
}
